<a href="https://colab.research.google.com/github/AdokkuSchool/dap-2024/blob/main/les04/rep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Лабораторная работа №4  
Анализ данных пассажиров "Титаника"

**Выполнил:** Хамзин Адильбек Канатбекович
**Группа:** ИС-23-2

In [1]:
import numpy as np
import pandas as pd

url_titanic = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

df = pd.read_csv(url_titanic)
df.set_index('PassengerId', inplace=True)

print("Данные успешно загружены!")

Данные успешно загружены!

In [2]:
print("Задание 1: Данные загружены.\n")

Задание 1: Данные загружены.

In [3]:
print("Задание 2 (Первые 6 строк):")
print(df.head(6))
print("-" * 30)

Задание 2 (Первые 6 строк):
             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
6                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
6                                             Moran, Mr. James    male   NaN

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
6                0      0            330877   8.4583   NaN        Q
------------------------------

In [4]:
print("Задание 3 (Описание данных):")
print(df.describe())
print("-" * 30)

Задание 3 (Описание данных):
         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200
------------------------------

In [5]:
print("Задание 4 (Количество мужчин и женщин):")
print(df['Sex'].value_counts())
print("-" * 30)

Задание 4 (Количество мужчин и женщин):
Sex
male      577
female    314
Name: count, dtype: int64
------------------------------

In [6]:
print("Задание 5:")
print("Распределение по классам (Всего):\n", df['Pclass'].value_counts())

print("\nРаспределение по классам (по полу):")
print(df.groupby(['Sex', 'Pclass']).size())

male_2nd_class = df[(df['Sex'] == 'male') & (df['Pclass'] == 2)].shape[0]
print(f"\nМужчин во 2-м классе: {male_2nd_class}")
print("-" * 30)

Задание 5:
Распределение по классам (Всего):
 Pclass
3    491
1    216
2    184
Name: count, dtype: int64

Распределение по классам (по полу):
Sex     Pclass
female  1          94
        2          76
        3         144
male    1         122
        2         108
        3         347
dtype: int64

Мужчин во 2-м классе: 108
------------------------------

In [7]:
fare_median = round(df['Fare'].median(), 2)
fare_std = round(df['Fare'].std(), 2)

print("Задание 6:")
print(f"Медиана Fare = {fare_median}")
print(f"СКО Fare = {fare_std}")
print("-" * 30)

Задание 6:
Медиана Fare = 14.45
СКО Fare = 49.69
------------------------------

In [8]:
young_survived = df[df['Age'] < 30]['Survived'].mean()
old_survived = df[df['Age'] > 60]['Survived'].mean()

print("Задание 7:")
print(f"Доля выживших (<30 лет): {young_survived:.2%}")
print(f"Доля выживших (>60 лет): {old_survived:.2%}")
print(f"Молодые выживали чаще? {young_survived > old_survived}")
print("-" * 30)

Задание 7:
Доля выживших (<30 лет): 40.62%
Доля выживших (>60 лет): 22.73%
Молодые выживали чаще? True
------------------------------

In [9]:
female_survived = df[df['Sex'] == 'female']['Survived'].mean()
male_survived = df[df['Sex'] == 'male']['Survived'].mean()

print("Задание 8:")
print(f"Доля выживших женщин: {female_survived:.2%}")
print(f"Доля выживших мужчин: {male_survived:.2%}")
print(f"Женщины выживали чаще? {female_survived > male_survived}")
print("-" * 30)

Задание 8:
Доля выживших женщин: 74.20%
Доля выживших мужчин: 18.89%
Женщины выживали чаще? True
------------------------------

In [10]:
def get_first_name(name):
    try:
        return name.split(',')[1].split('.')[1].strip().split(' ')[0]
    except IndexError:
        return name.split(' ')[0]

male_names = df[df['Sex'] == 'male']['Name'].apply(get_first_name)
top_name = male_names.value_counts().idxmax()

print(f"Задание 9: Самое популярное мужское имя: {top_name}")
print("-" * 30)

Задание 9: Самое популярное мужское имя: William
------------------------------

In [12]:
print("Задание 10:")
age_stats = df.groupby(['Pclass', 'Sex'])['Age'].mean()
print(age_stats)

print("\nПроверка утверждений:")
print(f"1. Мужчины 1-го класса > 40? {age_stats[1, 'male'] > 40}")
print(f"2. Женщины 1-го класса > 40? {age_stats[1, 'female'] > 40}")

check_3 = all(age_stats[i, 'male'] > age_stats[i, 'female'] for i in [1, 2, 3])
print(f"3. Мужчины всех классов старше женщин? {check_3}")

mean_ages = df.groupby('Pclass')['Age'].mean()
check_4 = (mean_ages[1] > mean_ages[2]) and (mean_ages[2] > mean_ages[3])
print(f"4. В 1 классе старше, чем во 2, а во 2 старше 3? {check_4}")
print("-" * 30)

Задание 10:
Pclass  Sex
1       female    34.611765
        male      41.281386
2       female    28.722973
        male      30.740707
3       female    21.750000
        male      26.507589
Name: Age, dtype: float64

Проверка утверждений:
1. Мужчины 1-го класса > 40? True
2. Женщины 1-го класса > 40? False
3. Мужчины всех классов старше женщин? True
4. В 1 классе старше, чем во 2, а во 2 старше 3? True
------------------------------

## Дополнительные вопросы для защиты

Определения
Медиана: Это число, которое находится ровно посередине упорядоченного (от меньшего к большему) набора чисел. Половина чисел меньше медианы, половина — больше.

Пример: Для ряда 1, 3, 10 медиана — 3. Для ряда 1, 3, 5, 10 медиана — 4 (среднее между 3 и 5).

Дисперсия: Мера разброса данных. Показывает, насколько сильно числа отклоняются от среднего значения. Рассчитывается как средний квадрат отклонений.

Среднеквадратичное отклонение (СКО / std): Это корень из дисперсии. Оно показывает разброс в тех же единицах измерения, что и сами данные (например, в годах или долларах).

Series vs DataFrame
Series: Это одномерный массив данных (как один столбец в Excel), у которого есть метки (индекс).

DataFrame: Это двумерная таблица данных (как весь лист в Excel), состоящая из строк и столбцов. По сути, это набор Series, объединенных общим индексом.

Изменение индекса в Series
Да, можно. Можно присвоить новый список индексов через атрибут .index:

Python s.index = ['new1', 'new2', ...] 4. Сложение двух Series

Операции в Pandas всегда выравниваются по индексу (по меткам), а не по порядку расположения.

Одинаковые типы, размеры и индексы: Сложение происходит поэлементно (значение с индексом 'A' сложится со значением с индексом 'A').

Одинаковые типы, размеры, но РАЗНЫЕ индексы: Результатом будет объединение индексов. Там, где индексы совпали — сумма. Там, где не совпали — NaN (пустое значение).

Разные размеры: Аналогично, выравнивание идет по индексу. Недостающие индексы дадут NaN.

Разные типы данных:

Число + Строка = Ошибка.

Число + Число (int + float) = Float.

Настройки отображения
Чтобы по умолчанию отображалось 8 строк при выводе DataFrame, нужно изменить настройки Pandas:

Python pd.options.display.max_rows = 8 (Либо использовать pd.set_option('display.max_rows', 8))

iloc vs loc
loc: Выбор данных по МЕТКЕ индекса (названию).

Пример: df.loc['Ivanov'] (найдет строку, где индекс называется Ivanov).

Включает последнюю границу при срезе.

iloc: Выбор данных по ПОЗИЦИИ (порядковому номеру, как в обычном списке).

Пример: df.iloc[0] (найдет самую первую строку).

НЕ включает последнюю границу при срезе.

Добавление Series в DataFrame
Да, можно. Это основной способ добавления нового столбца.

Python df['NewColumn'] = my_series Pandas автоматически сопоставит данные по индексам.

Дополнительные библиотеки
CSV: Нет, библиотека встроена в pandas (read_csv).

JSON: Нет, встроена (read_json).

Excel (.xls, .xlsx): Да, требуются. Обычно pandas просит установить openpyxl (для .xlsx) или xlrd (для старых .xls). Colab их обычно уже содержит, но локально их нужно ставить (pip install openpyxl).